# Variaveis de ambiente pro docker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=SUA_SENHA
POSTGRES_DB=moon-fit

# Porta pra rodar a aplicação
PORT=3333

# Chave secreta pro JWT
JWT_SECRET=supersecretkey
JWT_REFRESH_SECRET=um_secret_diferente_e_longo_aqui


# URL de conexão com o banco de dados
DATABASE_URL="postgresql://postgres:SUA_SENHA@localhost:5432/moon-fit?schema=public"